📊 来源: {% if labels._source == 'grafana' %}Grafana{% else %}Prometheus{% endif %}


{% if status == "firing" -%}
🚨🚨🚨🚨🚨🚨 状态: 告警
{%- else -%}
✅✅✅✅✅✅ 状态: 恢复
{% endif %}


时间: {{ startsAt }}

{% for key, value in labels.items() %}
{% if value is sequence and (value is not string) %}
{{ key }}: {{ value | unique | sort | join(', ') }}
{% else %}
{{ key }}: {{ value }}
{% endif %}
{% endfor %}

{% if annotations.summary -%}
summary: {{ annotations.summary }}
{%- endif %}