{% if status == "firing" %}❌❌❌❌ <b>状态: </b>告警{% else %}✅✅✅✅ <b>状态: </b>恢复{% endif %}

<b>时间: </b>{{ startsAt }}
{% for key, value in labels.items() %}
{% if key not in ['prometheus', 'id', 'image', 'uid', 'metrics_path', 'endpoint', 'job', 'service', 'name', '_source'] %}
{% if value is string and (value.startswith('http://') or value.startswith('https://')) %}
<b>{{ key }}: </b><a href="{{ value }}">{{ value }}</a>
{% else %}
<b>{{ key }}: </b>{{ value }}
{% endif %}
{% endif %}
{% endfor %}
{% if annotations.summary %}
<b>summary: </b>{{ annotations.summary | url_to_link }}
{% endif %}
{% if annotations.description %}
<b>description: </b>{{ annotations.description | url_to_link }}
{% endif %}
